@model Users

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!--<div class="home-banner">
    <h1>Welcome</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Build Web apps with ASP.NET Core</a></p>
</div>
-->
<div class="hero-image">
    <script>
        //$("#homeimage").attr("src", data[0]);
        //setInterval(ajaxCall, 5000);

        $.ajax({
            url: '@Url.Action("ImageUploadGet", "Home")', //retrieves the array and stores it in 'data'
            data: 'data',
            success: function (data) {
                var i = 0;
                $("#homeimage").attr("src", data[i]);

                var i = 0;

                setInterval(function () {
                    document.getElementById("homeimage").src = data[i];
                    if (i == (data.length - 1)) {
                        i = 0;
                        //you can even clear interval here to make heading stay as last one in array
                        //cleanInterval(intervalId);

                    } else {
                        i++;
                    }
                }, 8000)


            }
        });
    </script>

    <img id="homeimage" class="homeimage" src="" alt="" />
    <div class="hero-textbox">
        <h1 class="hero-text">Adam James</h1>
        <h1 class="hero-text2">Web Developer</h1>
    </div>

    <!--<img style="height:400px; width: 100%; border-radius: 0; border: none;" src="images/cool-bridge.jpg" alt="" />-->
</div>

    <button id="btnDataGet" href="#" onclick="DataGet()">DataGet</button>

    <script>
        function DataGet() {
            //data: {} is used when POST'ing to the server to send json data to the server.

            //data in the ajax response is naturally expected and does not need to be named 'data'
            //you can access objects within the returned data
            $.ajax({
                url: "/Home/DatabaseConnection",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data.response);
                    $('#usersForm').find('td').text(data.response[0]);
                },
                error: function () {
                    alert("error");
                }

            })
        }
    </script>

<form name="usersForm" id="usersForm" method="POST" style="grid-column: 1/-1">
    <div class="database-table-box">
        <table class="database-table">
            @*@Html.ActionLink("clickme", "DatabaseConnection", "Home")*@

            <tr>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>UserName</th>
                <th>Password</th>
                <th>ChangePassword</th>
                <th>ID</th>
                <th>Email</th>
            </tr>

            <tr>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
                <td>@Html.DisplayFor(model => model.MiddleName)</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
                <td>@Html.DisplayFor(model => model.UserName)</td>
                <td>@Html.DisplayFor(model => model.Password)</td>
                <td>@Html.DisplayFor(model => model.ChangePassword)</td>
                <td>@Html.DisplayFor(model => model.ID)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
        </table>
    </div>
</form>

<div class="home-paragraph1">
    <p>
        Recent Work
    </p>
</div>

<div class="work-experience">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="RussellStandard"><h1>RussellStandard</h1></a>
            <a asp-controller="Home" asp-action="RussellStandard"><img src="images/rs-slice-1-thumb.jpg" /></a>
            <!--
                <a asp-controller="Home" asp-action="RussellStandard"><img src="images/rs-slice-2-thumb.jpg" /></a>
                <a asp-controller="Home" asp-action="RussellStandard"><img src="images/rs-slice-3-thumb.jpg" /></a
            -->
        </li>
        <li>
            <a asp-controller="Home" asp-action="ASCE"><h1>ASCE</h1></a>
            <!--
                <a asp-controller="Home" asp-action="ASCE"><img src="images/asce1-thumb.jpg" /></a>
            -->
            <a asp-controller="Home" asp-action="ASCE"><img src="images/asce2-thumb.jpg" /></a>
        </li>
    </ul>
</div>

<div class="home-paragraph1">
    <p>Skills and Technologies</p>
</div>

<ul class="home-skills-list1">
    <li><p>.NET Core</p></li>
    <li><p>C#.NET</p></li>
    <li><p>HTML5</p></li>
    <li><p>CSS</p></li>
    <li><p>Javascript</p></li>
    <li><p>Visual Studio</p></li>
</ul>

<ul class="home-skills-list2">
    <li><p>.NET MVC</p></li>
    <li><p>VB.NET</p></li>
    <li><p>SQL</p></li>
    <li><p>Git</p></li>
    <li><p>IIS</p></li>
    <li><p>AJAX</p></li>
</ul>

<div class="resume-download">
    <a href="~/resume.docx">Download Resume DOCX</a>
    <a href="~/resume.pdf">Download Resume PDF</a>
</div>

<!--
<div
     style="
    grid-column: 2/8;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
"
     >
    <img id="NASA-APOD" style="height:400px; width: auto; border-radius: 0; border: none; object-fit: contain;" src="" alt="" />
    <p style="margin: 20px 0 0 20px;">NASA's Picture Of The Day API.</p>
</div>
-->
<!--
<div class="ajax-code">
    <img src="~/images/code.png" alt="ajax-code" />
    <p>Knowledge of usefull Javascript technologies</p>
</div>
-->
<!--
<div style="grid-column: 1 / -1; text-align: center; margin-bottom: 40px;">
    <p>OnClick this button will call a method or function or action result on the server, handled by c# code.</p>
    <a asp-controller="Home" asp-action="RussellStandard"><h1 style="font-size:2rem; color: #091852; margin-top:20px;">RussellStandard</h1></a>
</div>
-->
<!--
<div class="work-showcase-box">
    <div>
        <img src="~/images/rs-slice-1.jpg" />
    </div>
    <div>
        <img src="~/images/rs-slice-2.jpg" />
    </div>
    <div>
        <img src="~/images/rs-slice-3.jpg" />
    </div>
</div>
-->
<!--
<div class="homey-images" style="display:none;">
    <img class="" src="images/bottles2.jpg" alt="" />
    <img class="" src="images/cool-bridge.jpg" alt="" />
    <img class="" src="images/tucco_centered.jpg" alt="" />
    <img class="" src="images/walkway.jpg" alt="" />
    <img class="" src="images/newsnip3.jpg" alt="" />
    <img class="" src="images/yellow_flower.jpg" alt="" />
    <img class="" src="images/birdy.jpg" alt="" />
    <img class="" src="images/plane.jpg" alt="" />
</div>
-->
